{% extends "index.html" %}
{% block title %}
    Login
{% endblock %}

{% block panelLateral %}
<div class="sidebar">
  <a href="/" id="logo"><img src="/static/images/logo1.png" alt="logo" width=110 height=110></a>
  <ul>
    <li class="home">
      <a href="/">Inicio</a>
    </li>
    <li class="about">
      {% if usuario %}
      <a href="/perfil">Perfil</a>
      {% else %}
      <a href="https://github.com/migueib17/IV-PLUCO-MFF">Información</a>
      {% endif %}
    </li>
    <li class="projects">
      <a href="https://github.com/migueib17/IV-PLUCO-MFF">Projectos</a>
    </li>
    <li class="blog">
      <a href="/register">Registro</a>
    </li>
    <li class="contact">
      <a href="/contact">Contacto</a>
    </li>
  </ul>
</div>
{% endblock %}
{% block cabeceraTitulo %}

<div class="botonera">
  <a href="/login"><button>Login</button></a>
  <a href="/register"><button>Registro</button></a>
</div>

<div>
  <h3><span class="beauty">PLUCO</span></h3>
</div>
<div STYLE="margin-top: 10px; margin-left: 
17px;">
  <FONT FACE="ARIAL" color="#663399"; size="3px" margin="50px 20px";><B>Plataforma Universitaria de Compartición de Conocimiento</B></FONT>
  </div>
{% endblock %}
{% block articuloPrincipal %}

  <div>
    <h4>LOGIN: </h4>
  </div>

<div>
  <form action="" method="post">
            <p><input type=text name=username>
            <p><input type=password name=password>
            <p><input type=submit value=Login>
        </form>

  <p style="float: right;margin-top: -18%;margin-right: 0px;">Desarrollado por: <strong>Miguel Fernández Fernández</strong></p>

</div>
{% endblock %}
